.cardContent{
    display: flex;
    align-items: center;
    background: #fff;
    gap: 1rem;
    padding: 1rem;
    border-radius: 8px;
}

.cardText{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
}
.cardText p{
    margin: 0;
    color: #5F747D;
    font-weight: 400;
}